<!-- List of all bookings wher user_id = current user_id -->
<div class="container wrapper">
  <h2>Your trips</h2>
  <%  @bookings.each do |booking| %>
  <% length_of_stay = (booking.end_date - booking.start_date).days.to_i / 86_400%>
  <div class="booking-card">
    <div class="booking-name">
      <h3><%=  booking.flat.title %></h3>
      <p>Length of stay: <%= length_of_stay %> days</p>
      <p>(<%= Date.parse(booking.start_date.to_s).strftime("%d/%m/%Y") %> - <%= Date.parse(booking.end_date.to_s).strftime("%d/%m/%Y") %>)</p>
    </div>
    <div class="booking-body">
      <p><%=booking.flat.description %></p>
    </div>
    <div class="booking-status">
      <h3 class="status pending"><%=booking.status%></h3>
      <h3 class="price"><%=booking.total_price%>€</h3>
    </div>
  </div>
  <% end%>
</div>
<!-- <h2>Your guests</h2> -->
<div class="container wrapper">
  <h2>Your guests</h2>
  <%  @host.each do |booking| %>
  <% length_of_stay = (booking.end_date - booking.start_date).days.to_i / 86_400%>
  <div class="booking-card">
    <div class="booking-name">
      <h3><%=  booking.flat.title %></h3>
      <p>Length of stay: <%= length_of_stay %> days</p>
      <p>(<%= Date.parse(booking.start_date.to_s).strftime("%d/%m/%Y") %> - <%= Date.parse(booking.end_date.to_s).strftime("%d/%m/%Y") %>)</p>
    </div>
    <div class="booking-body">
      <p><%=booking.flat.description %></p>
    </div>
    <div class="booking-status">
      <h3 class="status pending"><%=booking.status %></h3>
      <% if booking.status == "pending" %>

      <%= link_to "Approve", approve_path(booking), method: :patch %>
      <%= link_to "Decline", decline_path(booking), method: :patch %>

      <% end %>
      <h3 class="price"><%=booking.total_price%>€</h3>
    </div>
  </div>
  <% end%>
</div>
<!-- List of all bookings where flat_id = current_user_id -->
<div class="container wrapper">
  <h2>Your homes</h2>
  <%  @flats.each do |flat| %>
  <div class="booking-card">
    <div class="booking-name">
      <h3><%= flat.title %></h3>
      <p><%=  flat.number_of_guests %> guests</p>
    </div>
    <div class="booking-body">
      <p><%= flat.description %></p>
    </div>
    <div class="booking-status">
      <h3><%= flat.price_per_night %>€</h3>
      <%= link_to edit_flat_path(flat) do %>
      <i class="fas fa-edit-alt"></i>
        EDIT
      <% end %>

      <%= link_to flat_path(flat), method: "delete" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
  <% end%>
</div>
