   <div class="col-xs-12 col-sm-5 col-sm-offset-3">
      <%= simple_form_for [@flat] do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <div class="box">
        <%= f.input :number_of_guests%>
        <%= f.input :price_per_night %>
        </div>
        <%= f.input :city %>
        <%= f.input :address %>
        <%= f.submit "Next step", class: "btn btn-flat center" %>
      <% end %>
</div>
