<div class="container">
  <h1>Explore the world</h1>
  <p>We have identified <%= @flats.count %> homes verified for quality and comfort!</p>
</div>
<div class="big-box">
  <div class="container">
    <div class="row">
      <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <% if flat.images.empty? %>
          <div class="card-flat" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?house)">
            <% else %>
          <div class="card-flat" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=flat.images[0].photo %>)">
            <% end %>
            <div class="card-description">
              <h2><%= flat.title %></h2>
            </div>
          </div>
          <div class="details-flat flex">
            <i class="fas fa-female"> <%= flat.number_of_guests%></i>
            <i class="fas fa-dollar-sign"> <%= flat.price_per_night %>/night</i>
          </div>
            <%= link_to 'flat', flat_path(flat.id), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
</div>





<!-- <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div> -->
