<div class="gallery">
  <% if @flat.images[0] %>
    <div class="gallery__item--main">
      <img src="<%= cl_image_path @flat.images[0].photo%>" class="gallery__img" alt="Image 1">
  <% else %>
    <% if owner? %>
      <div class="placeholder gallery__item--main">
        <p>+</p>
    <%= link_to 'flat_images', flat_images_path(@flat.id), class: "placeholder-link" %>
      </div>
    <% end %>
  <% end %>
  </div>
  <% counter = 1 %>
  <% 4.times do %>
      <% if @flat.images[counter]%>
      <div class="gallery__item--small">
        <img src="<%= cl_image_path @flat.images[counter].photo%>" class="gallery__img" alt="Image 1">
      </div>
        <% else %>
        <div class="placeholder gallery__item--small">
        <% if owner? %>
      <%= link_to 'flat_images', flat_images_path(@flat.id), class: "placeholder-link" %>
          <p>+</p>
          <% end %>
          </div>
        <% end %>
    <% counter += 1 %>
  <% end %>
</div>
</div>



<div class="big-box-flat">
  <div class="flat-show">
    <div class="flat-info">
      <div class="header">
        <h1><%= @flat.title %></h1>
        <h3><%= @flat.city %> - <%= @flat.address %></h3>
      </div>
      <div class="number-guest-show-page">
        <i class="fas fa-female"> <h2><%= @flat.number_of_guests%></h2></i>
            <i class="fas fa-dollar-sign"> <h2><%= @flat.price_per_night %></h2></i>
      </div>
      <div class="header">
        <h1>Description:</h1>
        <h3>What the owner says about this property</h3>
      </div>
        <p><%= @flat.description %></p>
      </div>
    </div>
  <% if @flat.user == current_user %>
    <div class="reservation-form">
      <div class="owner-form">
      <p>Guests will see a form to confirm the reservation here</p>
      <div class="reservation-info pseudo">
        <%= simple_form_for [@flat, @booking] do |f| %>
        <div class="box-show">
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
        <p>Price per night: <%= @flat.price_per_night %></p>
        <%= f.submit "Make reservation", class: "btn btn-flat" %>
        <% end %>
      </div>
      </div>
    </div>
  <% else %>
    <div class="reservation-form">
      <div class="reservation-info">
        <%= simple_form_for [@flat, @booking] do |f| %>
        <div class="box-show">
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
        <p>Price per night: <%= @flat.price_per_night %></p>
        <%= f.submit "Make reservation", class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<!--
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="flat-image">
      <img src="https://images.unsplash.com/photo-1464082354059-27db6ce50048?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"></img>
    </div>
  </div>
</div> -->
